.bd-sidebar h1.site-logo{
   font-size:0!important;
}

nav.bd-links p.caption {
    font-size: 1.1em!important;
}

h1 {
    font-size: 2em!important;
}

h2 {
    font-size: 1.7em!important;
}

.utterances {
  margin-left: inherit!important;
}

body img {
  display: block;
  margin: auto;
}

.table thead th {
    vertical-align: middle!important;
    text-align: center!important;
    border-bottom: 3px solid #dee2e6;
}

.table td, .table th {
    border: 1px solid #dee2e6;
    vertical-align: middle!important;
    text-align: center!important;
}

.bd-content .section table {
    overflow-y: hidden;
}

.table td > p{
  margin-bottom: 0;
}

.table th > p{
  margin-bottom: 0;
}

.table thead th > p{
  margin-bottom: 0;
}

div.cell div.cell_input {
    background-color: #323443;
    border: 0px!important;
}

div.cell div.cell_input pre{
    color: #f8f8f2;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace!important;
}

div.cell div.cell_output pre{
    background-color: #eeeeff;
    color: black;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace!important;
}

pre span.k {color: #ebd247 !important}
pre span.ow {color: #ebd247 !important}
pre span.o {color: #e18095 !important}
pre span.mf {color: #a980f5 !important}
pre span.mi {color: #a980f5 !important}
pre span.nb {color: #f8f8f2 !important}
pre span.nd {color: #8BDF4C !important}
pre span.c1 {color: #9dabae !important}
pre span.s2 {color: #41b7d7 !important}
