.bd-sidebar h1.site-logo{
   font-size:0!important;
}

nav.bd-links p.caption {
    font-size: 1.1em!important;
}

h1 {
    font-size: 2em!important;
}

h2 {
    font-size: 1.7em!important;
}

.utterances {
  margin-left: inherit!important;
}
